*, html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;

}

.container {
    border: 1px solid black;
    resize: both;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

canvas {
    cursor: crosshair;
    touch-action: none;
    width: 100%;
    height: 100%;
}